<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\css\sidebar.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="header">
                <div class="list-item">
                    <a href="#">
                        <img src="" alt="">
                        <span class="description-header"></span>
                    </a>
                </div>

                <div class="illustration">
                    <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\LOGO BARU PONPES2 2.png" alt="logo">
                </div>
            </div>
            <div class="main">
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Home.svg" alt="" class="icon">
                        <span class="description">Beranda</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Graph Report.svg" alt="" class="icon">
                        <span class="description">Rekap Laporan</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Time Machine.svg" alt="" class="icon">
                        <span class="description">Riwayat</span>
                    </a>
                </div>
                <br>
                <br>
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Input.svg" alt="" class="icon">
                        <span class="description">Barang Masuk</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Output.svg" alt="" class="icon">
                        <span class="description">Barang Keluar</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Edit Property.svg" alt="" class="icon">
                        <span class="description">Edit</span>
                    </a>
                </div>
                <br>
                <br>
                <br>
                <div class="list-item">
                    <a href="#" class="list-item-content">
                        <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\Info Squared.svg" alt="" class="icon">
                        <span class="description">Tentang</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">

        </div>
    </div>
    
</body>
</html>