<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="D:\Project\simal\assets\css\topbar.css">

    <title>topbar</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="header">
                <div class="illustration">
                    <img src="D:\Project\simal\assets\img\LOGO BARU PONPES2 2.png" alt="logo">
                </div>
                <div class="description-header">
                    <h1 style="font-size: 30px; font-weight: 700;">Sistem Informasi Manajemen Administrasi Logistik</h1>
                    <h2 style="font-weight: 500; font-size: 20px;">Ponpes Tahfizh Entrepreneur Thursina YBM PLN</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>