<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets\css\style.css">
    <!-- favicon --> 	
	<link href="https://opensource.propeller.in/assets/landing-page/images/favicon.ico" type="image/x-icon" rel="icon"  />
    
  <!-- Bootstrap --> 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> 

 <!-- Propeller card (CSS for helping component example file)-->
<link href="https://opensource.propeller.in/components/card/css/card.css" type="text/css" rel="stylesheet" />

<!-- Example docs (CSS for helping component example file)-->
<link href="https://opensource.propeller.in/docs/css/example-docs.css" type="text/css" rel="stylesheet" />

<!-- Propeller typography (CSS for helping component example file) -->
<link href="https://opensource.propeller.in/components/typography/css/typography.css" type="text/css" rel="stylesheet" />

<!-- Google Icon Font -->
 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/google-icons.css" type="text/css" rel="stylesheet" />

<!-- Propeller Checkbox -->
 <link href="https://opensource.propeller.in/components/checkbox/css/checkbox.css" type="text/css" rel="stylesheet" />

<!-- Propeller textfield -->
 <link href="https://opensource.propeller.in/components/textfield/css/textfield.css" type="text/css" rel="stylesheet" />
 
<!-- Propeller Radio -->
 <link href="https://opensource.propeller.in/components/radio/css/radio.css" type="text/css" rel="stylesheet" />
 
<!-- Propeller Toggle -->
 <link href="https://opensource.propeller.in/components/toggle-switch/css/toggle-switch.css" type="text/css" rel="stylesheet" />

    <title>Hello, world!</title>
  </head>
  <body>
        <section class="vh-200 gradient-custom" style="background: linear-gradient(241.03deg, #98E8FC 37.42%, #A0AAFF 161.97%);">
          <div class="container py-5 h-100">
            <br>
            <br>
            <br>
            <br>
            <div class="text-left">
              <img src="D:\Project\bcit-ci-CodeIgniter-bcb17eb\assets\img\logo.png" alt="logo-thursina" class="img-fluid" style="position: absolute;
                width: 151px;
                height: 151px;
                left: 1200px;
                top: 120px;">
              <div class="col-11">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">
                    Sistem Informasi Manajemen Administrasi Logistik
                </h1>
                <h2>
                    Ponpes Tahfizh Entrepreneur Thursina YBM PLN
                </h2>
                <br>
                
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="card" style="background: rgba(217, 217, 217, 0.01); backdrop-filter: blur(30px);">
                    <div class="card-body text-center ">
                      <div class="mb-md-3 mt-md-4 pb-3" style="width: 934px;">
                        <h2 class="mb-2 text-uppercase" style="font-weight: bold;">Daftar Sebagai User</h2>
                        <br>
                        <br>
                        <p class="text-dark-50 mb-5">Masukkan Email dan Password anda!</p>
                        <!-- User name with floating label -->
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                          <label for="inputError1" class="control-label pmd-input-group-label">Email</label>
                          <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                            <span class="pmd-textfield-focused"></span>
                          </div>
                        </div>
                        <!-- Password with floating label -->
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                          <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                          <div class="input-group">
                            <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">https</i></div>
                            <input type="password" class="form-control" id="exampleInputAmount">
                            <span class="pmd-textfield-focused"></span>
                          </div>
                        </div>

                        <button class="btn btn-outline-white btn-lg px-5">Daftar</button>
                      </div>
                        <p class="mb-0">Sudah punya akun? <a href="D:\Project\bcit-ci-CodeIgniter-bcb17eb\application\views\auth\login.html" class="text-dark-50" style="font-weight: bold;">Login</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="text-center font-italic">
            <p>By Muhamad Faisal Raafi</p>
          </div>
          <br>
          <br>
          <br>
        </section>
  </body>
  <!-- Jquery js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Propeller Global js --> 
<script src="https://opensource.propeller.in/components/global/js/global.js"></script>
	
<!-- Propeller checkbox js -->
<script type="text/javascript" src="https://opensource.propeller.in/components/checkbox/js/checkbox.js"></script>

<!-- Propeller checkbox js -->
<script type="text/javascript" src="https://opensource.propeller.in/components/textfield/js/textfield.js"></script>

<!-- Propeller checkbox js -->
<script type="text/javascript" src="https://opensource.propeller.in/components/radio/js/radio.js"></script>
</html>